//@theme "/usr/share/rofi/themes/arthur.rasi"
//@theme "/usr/share/rofi/themes/docu.rasi"
//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
//@theme "/usr/share/rofi/themes/android_notification.rasi"
//@theme "/usr/share/rofi/themes/android_notification.rasi"
//@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"
//@theme "/usr/share/rofi/themes/gruvbox-dark-soft.rasi"
//@theme "/usr/share/rofi/themes/gruvbox-dark.rasi"
//@theme "/usr/share/rofi/themes/Pop-Dark.rasi"
//@theme "/usr/share/rofi/themes/android_notification.rasi"
//@theme "/usr/share/rofi/themes/Adapta-Nokto.rasi"
//@theme "/usr/share/rofi/themes/blue.rasi"
//@theme "/usr/share/rofi/themes/DarkBlue.rasi"
//@theme "/usr/share/rofi/themes/sidebar.rasi"
//@theme "/usr/share/rofi/themes/Pop-Dark.rasi"
//@theme "/home/escher/.local/share/rofi/themes/spotlight-dark.rasi"
//@theme "/home/escher/.local/share/rofi/themes/squared-material-red.rasi"
//@theme "/home/escher/.local/share/rofi/themes/rounded-blue-dark.rasi"
//@theme "/home/escher/.local/share/rofi/themes/spotlight-dark.rasi"
@theme "/home/escher/.local/share/rofi/themes/spotlight-dark.rasi"
